[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # a: attachment object; attachment the user wants to delete.
  # token: string; The token used to identify the session.
  #%]

[% title = BLOCK %]
  Удалить приложение [% a.id FILTER html %] [%+ terms.bug_gen %] [%+ a.bug_id FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
  doc_section = "using/editing.html#attachments"
%]

<table id="admin_table">
  <tr class="column_header">
    <th>Поле</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>ID вложения:</td>
    <td>
      <a href="attachment.cgi?id=[% a.id FILTER html %]">[% a.id FILTER html %]</a>
    </td>
  </tr>
  <tr>
    <td>Имя файла:</td>
    <td>[% a.filename FILTER html %]</td>
  </tr>
  <tr>
    <td>Описание:</td>
    <td>[% a.description FILTER html %]</td>
  </tr>
  <tr>
    <td>К [% terms.bug_dat %]:</td>
    <td>[% a.bug_id FILTER bug_link(a.bug_id) FILTER none %]</td>
  </tr>
  <tr>
    <td>Создал:</td>
    <td>[% a.attacher.identity FILTER html %]</td>
  </tr>
  <tr>
    <td>Дата создания:</td>
    <td>[% a.attached FILTER time %]</td>
  </tr>
</table>

<h2>Подтверждение</h2>

<p class="confirmation">
  Отменить удаление вложения <b>невозможно</b>.
</p>

<p>Подтвердите удаление приложения</p>

<form action="attachment.cgi" method="POST">
  <label for="reason">Причина удаления:</label>
  <input type="text" id="reason" name="reason" value="" size="80" maxlength="200">
  <br>
  <input type="submit" value="Да, удалить" id="delete">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="id" value="[% a.id FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

<p>
  Отменить удаление и вернуться к
  [%+ "$terms.bug_dat " _ a.bug_id FILTER bug_link(a.bug_id) FILTER none %].
</p>

[% PROCESS global/footer.html.tmpl %]
