[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # field: object; the field object that you are trying to delete.
  # token: string; the delete_field token required to complete deletion.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% title = BLOCK %]
  Удаление настраиваемого атрибута '[% field.name FILTER html %]' ([% field.description FILTER html %])
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           style_urls = ['skins/standard/admin.css']         
           doc_section = "administering/custom-fields.html#deleting-custom-fields"
%]

<table id="admin_table">
  <tr class="column_header">
  <th>Поле</th>
  <th>Значение</th>
</tr>
<tr>
  <td>Настраиваемый атрибут:</td>
  <td>[% field.name FILTER html %]</td>
</tr>
<tr>
  <td>Описание:</td>
  <td>[% field.description FILTER html %]</td>
</tr>
<tr>
  <td>Тип:</td>
  <td>[% field_types.${field.type} FILTER html %]</td>
</tr>
</table>

<h2>Подтверждение</h2>

<p class="confirmation">
  Подтвердите удаление настраиваемого атрибута из базы данных.<br>
  <em>Удаление возможно только для неактивного атрибута, который 
  никогда не использовался при регистрации [% terms.bugs_gen FILTER html %].</em>
</p>

<a href="editfields.cgi?action=delete&amp;name=[% field.name FILTER html %]&amp;token=[% token FILTER html %]">
  Удалить атрибут '[% field.description FILTER html %]'</a>

<p>
  <a href="editfields.cgi">Вернуться к списку атрибутов</a>
</p>

[% PROCESS global/footer.html.tmpl %]
