[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # api_keys: array. Array of api keys this user has.
  # any_revoked: boolean. True is any keys have been revoked.
  #%]

<p>
  Ключи API используются для аутентификации вызовов API WebService. Вы можете создать больше, чем
   один ключ API, если требуется. Каждый ключ API имеет дополнительное описание, которое может помочь
   вы записываете, для чего используется каждый ключ. Документация по авторизации есть
   и доступна
  <a href="[% docs_urlbase FILTER html %]api/core/v1/general.html#authentication">здесь</a>.
</p>

<h3>Существующие API keys</h3>

<p>Вы можете обновить описание, а также отозвать или отозвать существующие ключи API.
здесь. </p>

<table id="email_prefs">
  <tr class="column_header">
    <th>API key</th>
    <th>Описание (по желанию)</th>
    <th>Дата последнего применения</th>
    <th>Аннулировано</th>
  </tr>

  [% FOREACH api_key IN api_keys %]
    <tr[% IF api_key.revoked %] class="apikey_revoked"[% END %]>
      <td>[% api_key.api_key FILTER html %]</td>
      <td>
        <input name="description_[% api_key.id FILTER html %]"
          id="description_[% api_key.id FILTER html %]"
          value="[% api_key.description FILTER html %]">
      </td>
      [% IF api_key.last_used %]
        <td>[% api_key.last_used FILTER time %]</td>
      [% ELSE %]
        <td class="center"><i>никогда не использовался</i></td>
      [% END %]
      <td class="center">
        <input type="checkbox" value="1"
          name="revoked_[% api_key.id FILTER html %]"
          id="revoked_[% api_key.id FILTER html %]"
          [% IF api_key.revoked %] checked="checked" [% END %]>
      </td>
    </tr>
  [% END %]
  [% UNLESS api_keys.size %]
    <tr><td colspan="4">У вас нет ключей API .</td></tr>
  [% END %]
</table>

[% IF any_revoked %]
  <a id="apikey_revoked_controller" class="bz_default_hidden"
     href="javascript:TUI_toggle_class('apikey_revoked')">Скрыть отозванные ключи </a>
  [%# Show the link if the browser supports JS %]
  <script type="text/javascript">
    TUI_hide_default('apikey_revoked');
    TUI_alternates['apikey_revoked'] = 'Показать отозванные ключи ';
    YAHOO.util.Dom.removeClass('apikey_revoked_controller',
                               'bz_default_hidden');
  </script>
[% END %]

<h3>New API key</h3>

<p>Вы можете сгенерировать новый ключ API, установив флажок ниже и, при желании,
предоставление описания ключа API. Ключ API будет случайным образом
создан для вас. </p>

<p>
  <input type="checkbox" name="new_key" id="new_key">
  Создайте новый ключ API с дополнительным описанием 
  <input name="new_description" id="new_description">
</p>

