[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# This is a list of terms that may be changed to "brand" the Bugzilla 
  # instance (for example, referring to "bugs" as "issues".) When used, these
  # strings are used in several different types of content, and are not  
  # protected with Template-Toolkit FILTERs. Consequently, no special 
  # characters are allowed.
  #
  # Remember to PROCESS rather than INCLUDE this template. 
  #%]

[% terms = {
  "bug" => "«Bug»",
  "Bug" => "«Bug»",
  "abug" => "«Bug»",
  "Abug" => "«Bug»",
  "aBug" => "«Bug»",
  "ABug" => "«Bug»",
  "bugs" => "«Bug»",
  "Bugs" => "«Bug»",
  "comment" => "комментарий",
  "comments" => "Комментарий",
  "zeroSearchResults" => "Zarro Boogs найден",
  "Bugzilla" => "Bugzilla",
  "bug_gen"  => "«Bug»",
  "bug_dat"  => "«Bug»",
  "bug_acc"  => "«Bug»",
  "bug_abl"  => "«Bug»",
  "bug_obj"  => "«Bug»",
  "Bug"      => "«Bug»",
  "Bug_gen"  => "«Bug»",
  "Bug_dat"  => "«Bug»",
  "Bug_acc"  => "«Bug»",
  "Bug_abl"  => "«Bug»",
  "Bug_obj"  => "«Bug»",
  "bugs_gen" => "«Bug»",
  "bugs_dat" => "«Bug»",
  "bugs_acc" => "«Bug»",
  "bugs_abl" => "«Bug»",
  "bugs_obj" => "«Bug»",
  "Bugs_gen" => "«Bug»",
  "Bugs_dat" => "«Bug»",
  "Bugs_acc" => "«Bug»",
  "Bugs_abl" => "«Bug»",
  "Bugs_obj" => "«Bug»"
  }
%]

[% MACRO numeral(n, name1, name2, name5) BLOCK %]
  [% n1 = n % 10 %]
  [% n10 = n % 100 - n1 %]
  [% IF n10 == 10 || n1 == 0 || n1 > 4 %]
    [% name5 %]
  [% ELSIF n1 == 1 %]
    [% name1 %]
  [% ELSE %]
    [% name2 %]
  [% END %]
[% END %]

[% USE Hook %]
[% Hook.process("end") %]
